/*  your css code here. If applicable */
.container{
	background-color:#f5f5f5;
	padding:33px;
}
p{
	padding:13px;
	padding-bottom:25px;
	border:2px solid;
	background-color:white;
}
.author{
	text-align:right;
	padding:10px;
	padding-bottom:4px;
}